<h1><%= @chatroom.title %></h1>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <%= render @chatroom.messages %>
</div>



<%= form_for @message, url: '#' do |f| %>
  <input type="hidden" id="chatroom" data-id="<%= @chatroom.id %>">
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>